<header class="header">
  <div class="header-container container">
    <a href="/"
      ><img src="/assets/logo.svg" alt="Livraria Vanbook" class="brand"
    /></a>
    <nav class="header-nav">
      <ul class="header-nav-menu">
        <li class="header-nav-item">
          <a href="#beneficios" class="header-nav-link">Benefícios</a>
        </li>
        <li class="header-nav-item">
          <a href="#ver-livros" class="header-nav-link">Ver Livros</a>
        </li>
        <li class="header-nav-item">
          <a href="#sobre" class="header-nav-link">Sobre</a>
        </li>
        <li class="header-nav-item">
          <a href="#contato" class="header-nav-link">Contato</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
