<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vanbook - <%= title %></title>
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans&family=PT+Serif:wght@400;700&display=swap"
      rel="stylesheet"
      async
    />
    <link rel="stylesheet" href="/styles/settings/colors.css" />
    <link rel="stylesheet" href="/styles/settings/gaps.css" />
    <link rel="stylesheet" href="/styles/generic/reset.css" />
    <link rel="stylesheet" href="/styles/base/elements.css" />
    <link rel="stylesheet" href="/styles/base/container.css" />
    <link rel="stylesheet" href="/styles/objects/button.css" />

