<header class="header-library">
  <div class="header-library-container container">
    <a href="/"
      ><img src="/assets/logo.svg" alt="Livraria Vanbook" class="brand"
    /></a>
    <nav class="header-library-nav">
      <ul class="header-library-nav-menu">
        <li class="header-library-nav-item">
          <a
            href="/library/cart"
            class="header-library-nav-link header-library-cart"
            >R$ 0,00 <img src="/assets/cart.svg" alt="Carrinho"
          /></a>
        </li>
      </ul>
    </nav>
  </div>
</header>
