<div class="social-medias">
  <a target="_blank" href="https://facebook.com" class="social-medias-link"
    ><img src="/assets/facebook.svg" alt="Facebook" class="social-medias-img"
  /></a>
  <a target="_blank" href="https://instagram.com" class="social-medias-link"
    ><img src="/assets/instagram.svg" alt="Instagram" class="social-medias-img"
  /></a>
  <a target="_blank" href="https://twitter.com" class="social-medias-link"
    ><img src="/assets/twitter.svg" alt="twitter" class="social-medias-img"
  /></a>
</div>
