:root {
  --gap: 0.5rem;
  --gap-sm: 0.5rem;
  --gap-md: 1rem;
  --gap-lg: 2rem;
  --gap-xl: 4rem;
}

@media (min-width: 900px) {
  :root {
    --gap: 0.5rem;
    --gap-sm: 1rem;
    --gap-md: 2rem;
    --gap-lg: 4rem;
    --gap-xl: 8rem;
  }
}
