.add-new {
  padding: var(--gap-xl) 0;

  background-color: var(--secondary-color-2);
}

.add-new-container {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  column-gap: var(--gap-xl);
}

.add-new-form {
  grid-column-start: 2;
}

.input {
  background: var(--secondary-color);
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}

.input:focus {
  filter: brightness(85%);
  -webkit-filter: brightness(85%);
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}

.button-group button {
  margin-right: calc(var(--gap-sm) * 1.5);
}

@media (max-width: 767.98px) {
  .add-new-container {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: var(--gap-xl);
  }

  .add-new-form {
    grid-column-start: 1;
  }

  .button-group {
    display: flex;
    flex-direction: column;
    margin-top: var(--gap-md);
  }

  .button {
    text-align: center;
    margin-bottom: var(--gap-md);
  }
}
