.benefits-container {
  padding: var(--gap-xl) 0;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: calc(var(--gap-sm) * 1.5);
}

.benefits-card {
  position: relative;
}

.benefits-card-img {
  width: 100%;
}

.benefits-card-title {
  max-width: 80%;

  position: absolute;
  left: 9.3%;
  right: 9.3%;
  top: 44.44%;
  bottom: 41.08%;

  text-align: center;
  color: var(--secondary-color);
}

@media (max-width: 767.98px) {
  .benefits-container {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: calc(var(--gap-sm) * 1.5);
  }
}
