.hero {
  background: url('../../../assets/hero-img.jpg');

  min-height: 629px;
}

.hero-container {
  display: grid;
  grid-template-columns: 1fr;
}

.hero-title {
  margin: calc(var(--gap-xl) * 1.5) auto 0 auto;

  color: var(--secondary-color);
  text-transform: uppercase;
  font-weight: 400;
  text-align: center;
}

.hero-title::after {
  content: '';
  display: block;
  width: 24px;
  height: 3px;
  margin: calc(var(--gap-sm) * 1.5) auto;
  background-color: var(--secondary-color);
}

.hero-tagline {
  color: var(--secondary-color);
  margin: 0 auto;
  text-align: center;
}
