<%- include('includes/head.ejs') %>
    <link rel="stylesheet" href="/styles/components/header-library.css">
    <link rel="stylesheet" href="/styles/components/cart.css">
    <link rel="stylesheet" href="/styles/components/social-medias.css">
    <link rel="stylesheet" href="/styles/components/footer.css">

  </head>
  
  <body>
    <%- include('includes/header-library.ejs') %>

    <main class="cart">
        <div class="cart-title-container container">
            <h2 class="cart-title">Carrinho</h2>
        </div>
        <section class="cart-container container">
            <article class="cart-item">
                <img src="" alt="" class="cart-item-img">
                <div class="cart-item-title cart-item-info">
                    <span class="card-item-info-label">Título</span>
                    <p class="card-item-info-content">Harry Potter e a Pedra Filosofal</p>
                </div>
                <div class="cart-item-qtd cart-item-info">   
                    <span class="card-item-info-label">Qtd</span>
                    <p class="card-item-info-content">1</p>
                </div>
                <div class="cart-item-info">
                    <span class="card-item-info-label">Preço</span>
                    <p class="card-item-info-content cart-item-price">R$ 20,00</p>
                </div>
            </article>
            <article class="cart-item">
                <img src="" alt="" class="cart-item-img">
                <div class="cart-item-title cart-item-info">
                    <span class="card-item-info-label">Título</span>
                    <p class="card-item-info-content">Harry Potter e a Pedra Filosofal</p>
                </div>
                <div class="cart-item-qtd cart-item-info">   
                    <span class="card-item-info-label">Qtd</span>
                    <p class="card-item-info-content">1</p>
                </div>
                <div class="cart-item-info">
                    <span class="card-item-info-label">Preço</span>
                    <p class="card-item-info-content cart-item-price">R$ 20,00</p>
                </div>
            </article>
        </section>
        <section class="cart-form-container container">
            <div class="cart-subtotal">
                <span class="cart-subtotal-label">Subtotal</span>
                <p class="cart-subtotal-content">R$ 60,00</p>
            </div>
            <div class="class-form-buttons">
                <a href="/library" class="class-form-continuar-btn button">Continuar comprando</a>
                <a href="/library/checkout" class="class-form-finalizar-btn button">Finalizar Compra</a>
            </div>
        </section>
    </main>

    <%- include('includes/footer.ejs') %>
  </body>

</html>
