<%- include('includes/head.ejs') %>
    <link rel="stylesheet" href="/styles/components/header.css">
    <link rel="stylesheet" href="/styles/components/livraria.css">
    <link rel="stylesheet" href="/styles/components/social-medias.css">
    <link rel="stylesheet" href="/styles/components/footer.css">

  </head>
  
  <body>
    <%- include('includes/header.ejs') %>

    <section class="livraria">
      <div class="livraria-container container">
        <section class="livraria-content">
          <a class="livraria-card" href="/library/book">
            <img class="livraria-card-img" src="https://4.bp.blogspot.com/-qn7ASnwy4pA/WjmGqrezNPI/AAAAAAAAb6U/EI9OhHi6LlgPJP1MFcQzJ0QQhxbwXj6vQCEwYBhgL/s1600/esplendor-da-honra-julie-garwood-editora-universo-dos-livros-romance-de-epoca-as-7-melhores-e-mais-bonitas-capas-de-2017-mademoisellelovesbooks.jpg" alt="">
            <div class="livraria-card-info">
              <h3 class="livraria-card-info-title">
                Harry Potter e O Cálice de Fogo
              </h3>
              <p class="livraria-card-info-price">
                R$ 20,00
              </p>
            </div>
          </a>
          <a class="livraria-card" href="/library/book">
            <img class="livraria-card-img" src="https://4.bp.blogspot.com/-qn7ASnwy4pA/WjmGqrezNPI/AAAAAAAAb6U/EI9OhHi6LlgPJP1MFcQzJ0QQhxbwXj6vQCEwYBhgL/s1600/esplendor-da-honra-julie-garwood-editora-universo-dos-livros-romance-de-epoca-as-7-melhores-e-mais-bonitas-capas-de-2017-mademoisellelovesbooks.jpg" alt="">
            <div class="livraria-card-info">
              <h3 class="livraria-card-info-title">
                Harry Potter e O Cálice de Fogo
              </h3>
              <p class="livraria-card-info-price">
                R$ 20,00
              </p>
            </div>
          </a>
          <a class="livraria-card" href="/library/book">
            <img class="livraria-card-img" src="https://4.bp.blogspot.com/-qn7ASnwy4pA/WjmGqrezNPI/AAAAAAAAb6U/EI9OhHi6LlgPJP1MFcQzJ0QQhxbwXj6vQCEwYBhgL/s1600/esplendor-da-honra-julie-garwood-editora-universo-dos-livros-romance-de-epoca-as-7-melhores-e-mais-bonitas-capas-de-2017-mademoisellelovesbooks.jpg" alt="">
            <div class="livraria-card-info">
              <h3 class="livraria-card-info-title">
                Harry Potter e O Cálice de Fogo
              </h3>
              <p class="livraria-card-info-price">
                R$ 20,00
              </p>
            </div>
          </a>
          <a class="livraria-card" href="/library/book">
            <img class="livraria-card-img" src="https://4.bp.blogspot.com/-qn7ASnwy4pA/WjmGqrezNPI/AAAAAAAAb6U/EI9OhHi6LlgPJP1MFcQzJ0QQhxbwXj6vQCEwYBhgL/s1600/esplendor-da-honra-julie-garwood-editora-universo-dos-livros-romance-de-epoca-as-7-melhores-e-mais-bonitas-capas-de-2017-mademoisellelovesbooks.jpg" alt="">
            <div class="livraria-card-info">
              <h3 class="livraria-card-info-title">
                Harry Potter e O Cálice de Fogo
              </h3>
              <p class="livraria-card-info-price">
                R$ 20,00
              </p>
            </div>
          </a>
          <a class="livraria-card" href="/library/book">
            <img class="livraria-card-img" src="https://4.bp.blogspot.com/-qn7ASnwy4pA/WjmGqrezNPI/AAAAAAAAb6U/EI9OhHi6LlgPJP1MFcQzJ0QQhxbwXj6vQCEwYBhgL/s1600/esplendor-da-honra-julie-garwood-editora-universo-dos-livros-romance-de-epoca-as-7-melhores-e-mais-bonitas-capas-de-2017-mademoisellelovesbooks.jpg" alt="">
            <div class="livraria-card-info">
              <h3 class="livraria-card-info-title">
                Harry Potter e O Cálice de Fogo
              </h3>
              <p class="livraria-card-info-price">
                R$ 20,00
              </p>
            </div>
          </a>
          <a class="livraria-card" href="/library/book">
            <img class="livraria-card-img" src="https://4.bp.blogspot.com/-qn7ASnwy4pA/WjmGqrezNPI/AAAAAAAAb6U/EI9OhHi6LlgPJP1MFcQzJ0QQhxbwXj6vQCEwYBhgL/s1600/esplendor-da-honra-julie-garwood-editora-universo-dos-livros-romance-de-epoca-as-7-melhores-e-mais-bonitas-capas-de-2017-mademoisellelovesbooks.jpg" alt="">
            <div class="livraria-card-info">
              <h3 class="livraria-card-info-title">
                Harry Potter e O Cálice de Fogo
              </h3>
              <p class="livraria-card-info-price">
                R$ 20,00
              </p>
            </div>
          </a>
          <a class="livraria-card" href="/library/book">
            <img class="livraria-card-img" src="https://4.bp.blogspot.com/-qn7ASnwy4pA/WjmGqrezNPI/AAAAAAAAb6U/EI9OhHi6LlgPJP1MFcQzJ0QQhxbwXj6vQCEwYBhgL/s1600/esplendor-da-honra-julie-garwood-editora-universo-dos-livros-romance-de-epoca-as-7-melhores-e-mais-bonitas-capas-de-2017-mademoisellelovesbooks.jpg" alt="">
            <div class="livraria-card-info">
              <h3 class="livraria-card-info-title">
                Harry Potter e O Cálice de Fogo
              </h3>
              <p class="livraria-card-info-price">
                R$ 20,00
              </p>
            </div>
          </a>
          <a class="livraria-card" href="/library/book">
            <img class="livraria-card-img" src="https://4.bp.blogspot.com/-qn7ASnwy4pA/WjmGqrezNPI/AAAAAAAAb6U/EI9OhHi6LlgPJP1MFcQzJ0QQhxbwXj6vQCEwYBhgL/s1600/esplendor-da-honra-julie-garwood-editora-universo-dos-livros-romance-de-epoca-as-7-melhores-e-mais-bonitas-capas-de-2017-mademoisellelovesbooks.jpg" alt="">
            <div class="livraria-card-info">
              <h3 class="livraria-card-info-title">
                Harry Potter e O Cálice de Fogo
              </h3>
              <p class="livraria-card-info-price">
                R$ 20,00
              </p>
            </div>
          </a>
        </section>
      </div>
    </section>

    <%- include('includes/footer.ejs') %>
  </body>

</html>
