<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/styles/components/header.css">
    <link rel="stylesheet" href="/styles/components/library/checkout-end.css">
    <link rel="stylesheet" href="/styles/components/social-medias.css">
    <link rel="stylesheet" href="/styles/components/footer.css">

  </head>
  
  <body>
    <%- include('../includes/header.ejs') %>

    <main class="checkout-end">
      <section class="checkout-end-container container">
        <h2 class="checkout-end-title">Obrigado pela preferência :)</h2>
        <p class="checkout-end-text">Você é sempre bem vindo aqui, volte sempre!</p>
        <a href="/" class="checkout-end-link">Voltar para o inicio</a>
      </section>
    </main>

    <%- include('../includes/footer.ejs') %>

