* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--support-color);
  padding: 0.625rem;
}

a:hover,
button:hover {
  cursor: pointer;
}

body {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  color: var(--support-color);
  background-color: var(--secondary-color);

  min-height: 100vh;
}

img {
  display: block;
  max-width: 100%;
}

ul {
  list-style: none;
}

fieldset {
  border: none;
}
