.book {
  padding: var(--gap-xl) 0;
}

.book-container {
  display: grid;
  grid-template-columns: 3fr 9fr;
  column-gap: var(--gap-xl);
}

.book-info-field {
  margin-bottom: var(--gap-md);
}

.book-info-field-label {
  margin-bottom: var(--gap);
}

.book-info-field-content {
  font-weight: 400;
}

.book-info-price {
  font-weight: 700;
  color: var(--base-color-2);
}

.book-info-block {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.book-add-to-cart {
  background: var(--base-color-2);
  color: var(--secondary-color);
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}

.book-add-to-cart:hover {
  color: var(--secondary-color-2);
  background-color: var(--base-color);
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -o-transition: 0.2s;
}
