.header-library {
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.14), 0px 3px 4px rgba(0, 0, 0, 0.12),
    0px 1px 8px rgba(0, 0, 0, 0.2);
}

.header-library-container {
  padding: var(--gap-sm) 0;

  display: grid;
  grid-template-columns: 1fr 2.5fr;
  column-gap: calc(var(--gap-sm) * 1.5);
  align-items: center;
}

.header-library-nav-menu {
  display: flex;
  justify-content: flex-end;
}

.header-library-nav-item {
  margin-left: var(--gap-sm);
}

.header-library-nav-link {
  transition: 0.2s;
}

.header-library-nav-link:hover {
  transition: 0.2s;
  color: var(--base-color-2);
}

.header-library-cart {
  display: flex;
  align-items: center;
}

.header-library-cart img {
  margin-left: var(--gap-sm);
}
